<html lang="en"><head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
        <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">
        <title>Display Constituencies</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        
        <!-- <script>
          window.console = window.console || function(t) {};
        </script>
        <script>
          if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
          }
        </script> -->
        </head>
        <body translate="no">
      
        <div id="viewport">
        <div id="sidebar">
        <header>
        <a href="#">My App</a>
        </header>
        <ul class="nav">
        <li>
        <a href="#">
        <i class="zmdi zmdi-view-dashboard"></i> Constituencies
        </a>
        </li>
        <li>
        <a href="#">
        <i class="zmdi zmdi-link"></i> Candidates
        </a>
        </li>
        <li>
        <a href="#">
        <i class="zmdi zmdi-widgets"></i> Parties
        </a>
        </li>
        <li>
        <a href="#">
        <i class="zmdi zmdi-calendar"></i> Admins
        </a>
        </li>
        <li>
        <a href="#">
        <i class="zmdi zmdi-info-outline"></i> Voters
        </a>
        </li>
        <li>
        <a href="#">
        <i class="zmdi zmdi-settings"></i> Election Results
        </a>
        </li>
        </ul>
        </div>
        
        <div id="content">
        <nav class="navbar navbar-default">
        <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
        <!-- <li>
        <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
        </a>
        </li> -->
        <li><a href="#">Log out</a></li>
        </ul>
        </div>
        </nav>
        <div class="container-fluid">
        <h1>Simple Sidebar</h1>
        <p>
        Make sure to keep all page content within the
        <code>#content</code>.
        </p>
        </div>
        </div>
        </div>
        
        </body>
        </html>